# Ignore gzipped manpage
*.gz

# Ignore files which were created by "dh_make".
*.dsc
*.tar.gz
*.deb
*.build
*.buildinfo
*.changes

# Ignore folders which are created by "debuild".
bin/debian/.debhelper/
bin/debian/mr4b/
